:root {
  --bg-color-menu: #80808080; /* Cor cinza com 80% de transparência */
}

/* Estilo personalizado para a navbar */
.custom-navbar {
  background-color: var(--bg-color-menu);
  backdrop-filter: blur(10px); /* Efeito de desfoque no fundo */
  transition: background-color 0.3s ease-in-out; /* Transição suave ao rolar a página */
}

/* Estilos para a marca (AppSoft) */
.navbar-light .navbar-brand {
  color: #fff; /* Texto da marca em branco */
  font-weight: bold; /* Negrito */
  margin-right: auto; /* Alinha à esquerda */
}

/* Estilos para o menu de navegação */
.navbar-nav {
  display: flex; /* Alinha os itens horizontalmente */
  justify-content: center; /* Centraliza os itens dentro do container */
}

/* Links de navegação */
.navbar-light .nav-link {
  color: #fff; /* Links brancos */
}

.navbar-light .nav-link:hover {
  color: #ffeb99; /* Muda a cor dos links ao passar o mouse */
}

/* Efeito ao passar o mouse nos itens do menu */
.navbar-nav .nav-item {
  transition: transform 0.3s ease; /* Transição suave para o movimento */
}

.navbar-nav .nav-item:hover {
  transform: translateY(5px); /* Move 5px para baixo ao passar o mouse */
}

/* Espaçamento superior para o corpo */
body {
  padding-top: 70px; /* Ajuste conforme a altura do menu */
  margin: 0;
}

/* Botão do WhatsApp alinhado à direita */
.d-none.d-lg-block {
  margin-left: auto; /* Alinha o botão à direita */
}

/* Estilos globais */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
